{{#if (and foodBankView isUrgent)}}
  <i class="big red icon warning" title="This item soon expires and does not have a receiver"></i>
{{/if}}

<img src={{package.img}} alt="">
<h3>{{package.contains}} <small>{{package.category}}</small></h3>
<div class="ui list">
  <div class="item">
    <div class="content">
      <div class="ui icon input">
        <i class="icon cubes"></i>
        {{input type="number" step="1" value=package.weight}}
      </div>
    </div>
  </div>
  <div class="item">
    <div class="content">
       <i class="icon hourglass half"></i> Use {{moment-from-now package.bestBefore}}
    </div>
  </div>
  {{#if foodBankView}}
    <div class="item transfer">
      <div class="content">
        <i class="icon shopping basket"></i>
        {{package.supplier}}
        {{#if package.receiver}}
          <i class="icon long arrow right"></i>
           <i class="icon building outline"></i> {{package.receiver}}
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
