<img src={{package.img}} alt="">
<h3>{{package.contains}} <small>{{package.category}}</small></h3>
<div class="ui list">
  <div class="item">
    <div class="content">
      {{package.weight}} kg
    </div>
  </div>
  <div class="item">
    <div class="content">
      Use {{moment-from-now package.bestBefore}}
    </div>
  </div>
</div>
