<div class="ui top fixed menu">
    <div class="brand item"><h1>Předáno.cz</h1></div>
    {{link-to "NGO View (Order)" "index" class="item"}}
    {{link-to "PB View (Overview)" "all" class="item"}}
    {{link-to "Store View (Statistics and import)" "stores" class="item"}}
</div>

<main class="ui container">
  {{outlet}}
</main>
<div class="ui divider"></div>
<footer class="ui container">
  <h3>Partners</h3>
  <div class="logos">
    <img src="/logos/kaufland.png" alt="">
    <img src="/logos/albert.jpg" alt="">
    {{tesco-logo}}
    <img src="/logos/lidl.png" alt="">
    <img src="/logos/penny.png" alt="">
    <img src="/logos/makro.png" alt="">
    <img src="/logos/globus.png" alt="">
    <img src="/logos/billa.png" alt="">
    <img src="/logos/jednota.png" alt="">
    <img src="/logos/coop.png" alt="">
  </div>
</footer>